.titleBar {
    position: absolute;
    left: 0%;
    top: 0;

    width: 100vw;
    height: 100px;

    display: grid;
    justify-items: center;
    align-items: center;

    background-color: rgb(56, 54, 54);

}

.titleText {
    margin: 0%;

    font-family: 'Bakbak One', cursive;
    font-size: 50px;

    color: white;
}

.contentArea{
    margin: 0%;
    padding: 0%;

    position: absolute;
    left: 0px;
    top: 100px;

    width: 100vw;

    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-content: top;

    background-color: rgb(17, 17, 17);
}

.ContentItem {
    width: 100vw;

    background-color: rgb(17, 17, 17);
    text-align: center;
}

.project {
    margin-top: 10px;

    height: max-content;
    width: 100vw;

    background-color: rgb(46, 46, 46);
    text-align: center;

}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
}

.desc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}